#marketBubble{
  width : 200px;
  margin : 20px;
}

#HUD{
  padding:20px;
  margin-bottom: 0px;
}

#accountinfo{
  top : 100;
  width: 70%
}

#notices{
  padding : 2px;
  width : 100%;
  margin : 0px;
  top:0px;

}
.notice-alert{
  color : red;
  font-weight: bold;
}

.notice{
  width: 100%;
}

#marketcol{
  width: 30%;
}
